html {
  font-size: 22px;
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #9caf88;
  color: whitesmoke;
}

/* Grid Einstellung */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-area: "navi navi navi" "header header header" "main main main"
    "footer footer footer";
}

/* Grid Bereiche */
.navi {
  grid-area: navi;
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

/* Media Querys für Breakpoints */
@media screen and (max-width: 500px) {
  main {
    background-color: white;
  }
}

a:visited {
  color: #000;
}
a:hover,
a:active {
  color: darkgreen;
}
.navi {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  height: 100%;
  background-color: #f0f0f0;
  position: fixed;
  overflow: auto;
}

li a {
  display: block;
  color: black;
  padding: 10px 0 10px 15px;
  text-decoration: none;
}

table,
tr,
td,
caption {
  border: 1px solid #eee;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-collapse: collapse;
  padding: 0.5rem;
}

.infoBox {
  width: 50%;
  min-width: 530px;
  height: min-content;
  background: white;
  margin-top: 5px;
  padding: 20px;
  border: #3f1f01;
  border-radius: 6px;
  box-shadow: 0 0 10px rgb(187, 187, 187);
}
