body {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-family: sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: top;
  align-items: top;
  height: 100vh;
}

/* Schriften */
@font-face {
  font-family: Vodafone;
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneRg.eot);
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneRg.woff2)
      format("woff2"),
    url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneRg.woff)
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vodafone;
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/vodafonergbd-webfont.eot);
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/vodafonergbd-webfont.woff2)
      format("woff2"),
    url(https://www.vodafone.de/simplicity/assets/css/fonts/vodafonergbd-webfont.woff)
      format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vodafone;
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.eot);
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.woff2)
      format("woff2"),
    url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.woff)
      format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/*  Produktcard */
.GigaTvCard {
  width: 540px;
  height: 680px;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
}

.GigaTvVorteile {
  font-size: 18px;
  line-height: normal;
}
.Price {
  font-size: 48px;
}
