/* Schriften */
@font-face {
  font-family: Vodafone;
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneRg.eot);
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneRg.woff2)
      format("woff2"),
    url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneRg.woff)
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vodafone;
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/vodafonergbd-webfont.eot);
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/vodafonergbd-webfont.woff2)
      format("woff2"),
    url(https://www.vodafone.de/simplicity/assets/css/fonts/vodafonergbd-webfont.woff)
      format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vodafone;
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.eot);
  src: url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.woff2)
      format("woff2"),
    url(https://www.vodafone.de/simplicity/assets/css/fonts/VodafoneLt.woff)
      format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: Vodafone, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 16px;
  background-color: #f4f4f4;
  align-items: top;
  height: 100vh;
}

/*  GigaTV Card */
.whiteCard {
  width: 50%;
  min-width: 530px;
  height: min-content;
  background: white;
  margin-top: 5px;
  padding: 20px;
  border: black;
  border-radius: 6px;
  box-shadow: 0 0 10px rgb(187, 187, 187);
}

.imageWindow {
  display: block;
  height: 280px;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
}

.cardImage {
  width: 100%;
  margin-top: 0;
  border-radius: 4px;
}

.headlineCard {
  margin-bottom: 12px;
  font-size: 28px;
  white-space: wrap;
}

.cardContent {
  margin-left: 20px;
  margin-top: 20px;
  padding: 0;
  font-size: 18px;
  line-height: 35px;
}
.price {
  font-size: 48px;
  font-family: Vodafone;
  margin: 0;
  padding: 0;
}
.euro {
  font-size: 30px;
  margin: 0;
}
.priceDesk {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
a {
  color: #e60000;
  text-decoration: none;
}

/* Second Variant ProductCard */
.buttonCard {
  width: 50%;
  min-width: 530px;
  height: min-content;
  background: white;
  margin-top: 5px;
  padding: 20px;
  border: black;
  border-radius: 6px;
  box-shadow: 0 0 10px rgb(187, 187, 187);
}
.imageWindow2 {
  height: 280px;
  overflow: hidden;
  border-radius: 4px;
}
.cardImage2 {
  width: 100%;
  margin-top: 0;
  border-radius: 6px;
}
.cardImage2 img {
  width: 100%;
  border-radius: 4px;
}

.higlightBadge {
  display: inline-flex;
  align-items: start;
  background-color: #fecb00;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 20px;
  margin-top: 10px;
}
.priceDesk2 {
  font-size: 30px;
  font-family: Vodafone, sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
}
.euro2 {
  font-size: 36px;
  margin: 0;
}

/* Third Variant ProductCard */
.promoCard {
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
  min-width: 530px;
  height: min-content;
  background: white;
  margin-top: 5px;
  padding: 20px;
  border: black;
  border-radius: 6px;
  box-shadow: 0 0 10px rgb(187, 187, 187);
}
.imageWindow3 {
  height: 280px;
  overflow: hidden;
  border-radius: 4px;
}
.cardImage3 {
  width: 40%;
  height: 50%;
  margin-top: 0;
  border-radius: 6px;
}
.iPhone17 img {
  width: 100%;
  border-radius: 4px;
}

.higlightBadge {
  display: inline-flex;
  align-items: start;
  background-color: #fecb00;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 20px;
  margin-top: 10px;
}
.priceDesk3 {
  font-size: 30px;
  font-family: Vodafone, sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
}
.euro3 {
  font-size: 36px;
  margin: 0;
}

/* Fourth Variant of ProductCard */
.promoCard2 {
  display: flex;
  flex-direction: row;
  width: 50%;
  min-width: 530px;
  height: min-content;
  background: white;
  margin-top: 5px;
  padding: 20px;
  border: black;
  border-radius: 6px;
  box-shadow: 0 0 10px rgb(187, 187, 187);
}
.imageWindo4 {
  height: 280px;
  overflow: hidden;
  border-radius: 4px;
}
.cardImage4 {
  width: 40%;
  height: 50%;
  margin-top: 0;
  border-radius: 6px;
}
